body {
  width: 100%;
}

#container {
  position: relative;
  height: 600px;
  width: 600px;
  margin: 50px auto;
}

#board {
  height: 600px;
  width: 600px;
  background-color: blue;
  transform-style: preserve-3d;
  transform: rotateX(45deg) rotateZ(45deg) rotateY(0deg);
  text-align: center;
  position: absolute;
}

#board::before,
#board::after {
  position: absolute;
  content: '';
  float: left;
}

#board::before {
  height: 600px;
  width: 50px;
  background-color: maroon;
  transform-origin: 100% 0;
  transform: rotateY(90deg) translateX(50px) translateZ(250px);
}

#board::after {
  height: 50px;
  width: 600px;
  background-color: pink;
  transform-origin: 100% 0;
  transform: rotateX(-90deg) translateY(70px) translateZ(550px) translateX(-350px);
}

.scoreboard {
  text-align: center;
}

.wrapper {
  text-align: center;
}

#head,
#head:after,
#head:before,
#apple,
#apple:before,
#apple:after,
.body-part,
.body-part:before,
.body-part:after {
  position: absolute;
  content: '';
  height: 50px;
  width: 50px;
  float: left;
}

#apple {
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform: translateX(50px) translate(.1em);
  box-shadow: 3em 1.5em 3em rgba(0, 0, 0, .3);
  z-index: 2;
}

#apple:after {
  background-color: #b9b991;
  transform-origin: 100% 100%;
  transform: rotateX(-90deg) translateY(50px) translateX(-25px);
  z-index: 2;
}

#apple:before {
  background-color: #b49879;
  transform-origin: 100% 0;
  transform: rotateY(90deg) translateX(50px) translateZ(-25px);
  z-index: 2;
}

#head {
  height: 50px;
  width: 50px;
  background-color: purple;
  position: absolute;
  content: '';
  box-shadow: 3em 1.5em 3em rgba(0, 0, 0, .3);
}

#head:after {
  background-color: #6E4C6E;
  transform-origin: 100% 100%;
  transform: rotateX(-90deg) translateY(50px) translateX(-25px);
  z-index: 2;
}

#head:before {
  background-color: #5A4B5A;
  transform-origin: 100% 0;
  transform: rotateY(90deg) translateX(50px) translateZ(-25px);
  z-index: 2;
}

#play-again {
  color: orange;
  font-size: 3rem;
  position: absolute;
  z-index: 10;
}

#congrats {
  z-index: 0;
  position: absolute;
}

.body-part {
  height: 50px;
  width: 50px;
  background-color: yellow;
  position: absolute;
  float: left;
  border-radius: 10px;
  transition: transform 300ms linear;
  transform-style: preserve-3d;
  transform: translateX(50px) translate(.1em);
  box-shadow: 3em 1.5em 3em rgba(0, 0, 0, .3);
  z-index: 1;
}

.body-part:after {
  transform-origin: 100% 100%;
  transform: rotateX(-90deg) translateY(50px) translateX(-25px);
  z-index: 1;
  background-color: black;
}

.body-part:before {
  transform-origin: 100% 0;
  transform: rotateY(90deg) translateX(50px) translateZ(-25px);
  z-index: 1;
  background-color: grey;
}

#congratsMessage {
  height: 100px;
  width: 100px;
  color: black;
}

